body {
  margin: 0 auto;
  max-width: 1260px;
}

body a.arrowDown {
  font-size: 30px;
  text-decoration: none;
  color: #ff635e;
  border: 1px solid #ff635e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

body a.arrowDown:hover {
  background: #ff635e;
  color: rgba(255, 255, 255, 0.973);
}

body a.btn {
  color: #ff635e;
  text-decoration: none;
  font-size: 22px;
  border: 2px solid #ff635e;
  padding: 12px 28px;
  border-radius: 8px;
}

body a.btn:hover {
  background: #ff635e;
  color: rgba(255, 255, 255, 0.973);
}

body .mainText {
  text-align: center;
}

body .mainText p {
  color: rgba(255, 255, 255, 0.973);
  font-size: 22px;
}

body h2.main_header {
  text-transform: uppercase;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.973);
}

body h2.main_header span {
  color: #ff635e;
}

body h2.submain_header {
  text-decoration: underline;
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  color: #868686;
}

body h2.submain_header span {
  color: #ff635e;
}

body header {
  background: url(../img/background.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 600px;
  width: 100%;
  max-width: 1260px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav > a {
  color: rgba(255, 255, 255, 0.973);
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

body header nav > a img {
  padding-right: 15px;
  vertical-align: middle;
}

body header nav .logo:hover img {
  opacity: 0.7;
}

body header nav menu {
  list-style: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav menu li {
  padding-left: 15px;
}

body header nav menu li a {
  color: rgba(255, 255, 255, 0.973);
  font-size: 20px;
  text-decoration: none;
}

body header nav menu li a:hover {
  color: #ff635e;
  border-bottom: 5px solid #ff635e;
  padding-bottom: 5px;
}

body .recive {
  margin-top: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.973);
  padding: 70px 50px 10px 50px;
  color: #868686;
}

body .recive p {
  font-size: 22px;
  margin-bottom: 50px;
}

body .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .icons h4 {
  text-decoration: underline;
  text-transform: uppercase;
}

body .icons p {
  font-size: 18px;
}

body .icons div {
  padding: 15px;
}

body .expand {
  padding: 100px 100px 15px 100px;
  background: url(../img/expand.png) no-repeat;
  background-size: cover;
}

body .expand .mainText {
  padding: 50px;
  margin-bottom: 80px;
  border: 15px solid rgba(0, 0, 0, 0.2);
}

body .expand .mainText h2 {
  font-size: 55px;
  margin-bottom: 50px;
}

body .our_process {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
}

body .our_process .steps {
  display: none;
}

body .our_process p {
  font-size: 22px;
  color: #868686;
}

body .our_process .back_process {
  height: 500px;
  width: auto;
  background-image: url(../img/Our_process.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

body .wedo1,
body .wedo3 {
  background: #f2f2f2;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wedo1 .container,
body .wedo3 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .wedo1 h3,
body .wedo1 p,
body .wedo3 h3,
body .wedo3 p {
  color: #868686;
}

body .wedo1 p,
body .wedo3 p {
  font-size: 18px;
  padding-bottom: 15px;
}

body .wedo1 h3,
body .wedo3 h3 {
  text-transform: uppercase;
  border-left: 10px solid #ff635e;
  padding-left: 5px;
}

body .wedo1 .left,
body .wedo3 .left {
  max-width: 50%;
}

body .wedo1 .right,
body .wedo3 .right {
  max-width: 50%;
}

body .wedo2 {
  background: rgba(255, 255, 255, 0.973);
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wedo2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .wedo2 h3,
body .wedo2 p {
  color: #868686;
}

body .wedo2 h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-right: 5px;
}

body .wedo2 p {
  font-size: 18px;
  padding-bottom: 15px;
}

body .wedo2 h3 {
  text-transform: uppercase;
  border-right: 10px solid #ff635e;
  padding-left: 5px;
}

body .wedo2 .left {
  max-width: 50%;
}

body .wedo2 .right {
  max-width: 50%;
}

body .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

body .portfolio .btn {
  margin: 40px 0;
}

body .portfolio h2 {
  margin: 50px 0;
  padding-bottom: 5px;
}

body .portfolio .controls {
  text-align: center;
  letter-spacing: 2px;
  font-size: 25px;
  border-top: 3px solid #868686;
  border-bottom: 3px solid #868686;
  padding: 15px;
  margin-bottom: 30px;
}

body .portfolio .controls button {
  color: #ff635e;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 22px;
}

body .portfolio .controls button:hover {
  color: #df3833;
  cursor: pointer;
}

body .portfolio .container-filter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .portfolio .container-filter #ex1 {
  background-image: url(../img/portfolio/1.png);
}

body .portfolio .container-filter #ex2 {
  background-image: url(../img/portfolio/2.png);
}

body .portfolio .container-filter #ex3 {
  background-image: url(../img/portfolio/3.png);
}

body .portfolio .container-filter #ex4 {
  background-image: url(../img/portfolio/4.png);
}

body .portfolio .container-filter #ex5 {
  background-image: url(../img/portfolio/5.png);
}

body .portfolio .container-filter #ex6 {
  background-image: url(../img/portfolio/6.png);
}

body .portfolio .container-filter div {
  background-size: cover;
  background-position: center center;
  margin: 10px;
  width: 250px;
  height: 180px;
}

body .portfolio .container-filter div .fil {
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.973);
  font-weight: bold;
  display: none;
  position: relative;
  margin: 0;
  background: url(../img/portfolio/plus.png) rgba(255, 72, 72, 0.75);
  background-position: center;
  background-repeat: no-repeat;
}

body .portfolio .container-filter div .fil p {
  margin: 0;
  padding: 10px;
}

body .portfolio .container-filter div:hover .fil {
  cursor: pointer;
  display: block;
}

body .our_team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f2f2f2;
  margin-bottom: 10px;
  text-align: center;
  padding: 30px;
}

body .our_team .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .our_team .wrap .people {
  text-align: center;
  margin-bottom: 15px;
}

body .our_team .wrap a {
  text-decoration: none;
  padding: 5px;
  color: #464242;
  font-size: 15px;
}

body .our_team .wrap a:hover {
  color: #868686;
}

body .our_team .wrap p {
  color: #868686;
}

body .our_team .wrap h4 {
  text-transform: uppercase;
  color: #464242;
  padding-bottom: 5px;
}

body .our_team .wrap h4 span {
  color: #ff635e;
}

body .our_team h2 {
  padding-bottom: 25px;
}
/*# sourceMappingURL=main.css.map */
